# LOGS & DEBUG FILES
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# DEPENDENCIES & BUILD OUTPUTS (Yeniden Üretilebilir Dosyalar)
node_modules
dist
dist-ssr
*.local

# NEXT.JS & VERCEL SPECIFIC OUTPUTS (Next.js ve Vercel'e Özgü Çıktılar)
# BU KLASÖRLER VERCEL TARAFINDAN OLUŞTURULDUĞU İÇİN GEREKSİZDİR
.next/        
.vercel/    
out/        

# EDITOR AND IDE FILES (Editör ve IDE Ayarları)
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
temp