.site-footer {
  background-color: #193770;
  color: #ecf0f1; 
  padding: 50px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap; /* Küçük ekranlarda alt alta geçsin */
}

.footer-column {
  flex: 1;
  min-width: 250px;
}

/* LOGO VE BAŞLIK STİLLERİ */
.brand-title-footer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.brand-logo-footer {
  width: 200px; /* Footer'da daha küçük logo */
  height: 200px;
  object-fit: contain;

}


.slogan {
  font-size: 0.9em;
  color: white;
}

.copyright {
  font-size: 0.8em;
  color: white;
  margin-top: 15px;
}

/* HIZLI BAĞLANTILAR STİLLERİ */
.quick-links h4, .contact-info h4 {
  font-size: 1.2em;
  color: white; /* Kırmızı Başlıklar */
  margin-bottom: 15px;
  font-weight: 800;
}

.quick-links ul {
  list-style: none;
  padding-left: 5px;
  font-weight: 400;
  margin: 0;
}

.quick-links li {

  margin-bottom: 8px;
}

.quick-links a {
  color: #ecf0f1;
  text-decoration: none;
  transition: color 0.3s;
}

/* İLETİŞİM BİLGİLERİ STİLLERİ */
.contact-info p {
  font-size: 0.9em;
  margin-bottom: 10px;
  color: #ecf0f1;

}

.contact-info i {
  margin-right: 10px;
  color: white;
}

/* DUYARLILIK AYARLARI */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 30px;
  }

  .footer-column {
    min-width: 100%;
    text-align: center;
  }
  
  /* Logoyu ve başlığı ortala */
  .brand-title-footer {
    justify-content: center;
  }

  .quick-links ul {
    width: fit-content;
    margin: 0 auto;
    text-align: left;
  }
}